.list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid gainsboro;
    border-radius: 5px;

    padding: 10px;
}

.list .title {
    font-size: 20px;
    font-weight: bold;
}